Package: vn.bigdargon.hostsvn
Name: hostsVN
Version: 1.2
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5), wget
Description: Hosts block ads of Vietnamese
Homepage: https://bigdargon.github.io/hostsVN
Depiction: https://bigdargon.github.io/hostsVN/hostsVN.html
Maintainer: BigDargon
Author: BigDargon
Section: Tweaks
